name: Build Android App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: 8.5

    - name: Create local.properties
      working-directory: ./AndroidApp
      run: |
        echo "sdk.dir=$ANDROID_HOME" > local.properties
        echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" >> local.properties

    - name: Build with Gradle
      working-directory: ./AndroidApp
      run: gradle assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: AndroidApp/app/build/outputs/apk/debug/app-debug.apk
